.container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: start;
    height: 100%;
    width: 100%;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: .5em;
    width: 3.5em;
    gap: .5rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    flex: 1;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column-reverse;
    }
    .container, .nav {
        transition: max-height .2s, padding .2s;
    }
    .nav {
        flex-direction: row;
        width: auto;
    }
    .nav > * {
        flex: 1;
    }
    .container:has([class*='chatContent'][class*='chatActive']) .nav {
        padding: 0;
        max-height: 0;
    }
}