.manageProfilesPage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.pageHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profilesTable {
  flex-shrink: 1;
  border-collapse: collapse;
}

.profilesTable td:nth-child(2),
.profilesTable th:nth-child(2) {
  text-align: left;
}

.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
}

tr:nth-child(odd) td {
  background-color: var(--background-accent);
}
