:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #131b20;
  --on-background: #f1f1f1;
  --background-accent: #202c33;
  --on-background-accent: #f1f1f1;
  --background-accent-secondary: #3d4b54;
  --primary: #0a7b66;
  --nav-item-active: var(--primary);
  --nav-item-inactive: #546169;
  --divider: #3d4b54;
  --timestamp-on-chat-list-item: #637077;
  --message-mine: var(--primary);
  --timestamp-on-message-mine: #b9b9b9;
  --message-other: #202c33;
  --timestamp-on-message-other: #697379;
  /* --header-and-footer-background: #1d2a31; */
  --header-and-footer-background: var(--background);
  --on-header-and-footer-background: #f1f1f1;
  --textinput-background: #3d4b54;
  --chat-content-background-image: url(/chat-background-dark.png);
}

* {
  /* box-sizing: border-box; */
}

html {
  height: calc(100vh);
  overflow: hidden;
  overscroll-behavior: none;
  box-sizing: border-box;
}

html:has(body.ios) {
  transition: height 0.2s;
}

a {
  font-weight: 500;
  color: var(--nav-item-inactive);
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover, a.active {
  color: var(--primary);
}

body {
  margin: 0;
  place-items: center;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
  text-align: center;
  /* height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom)); */
  padding: env(safe-area-inset-top) 0 env(safe-area-inset-bottom);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #cccccc;
    --background: #f3f1e4;
    --on-background: #213547;
    --background-accent: #f0f0f0;
    --on-background-accent: #213547;
    --background-accent-secondary: #c9c9c9;
    --nav-item-active: #213547;
    --nav-item-inactive: #a1a1a1;
    --divider: #c9c9c9;
    --timestamp-on-chat-list-item: #8b8b8b;
    --message-mine: var(--primary);
    --timestamp-on-message-mine: #c9c9c9;
    --message-other: #d9d9d9;
    --timestamp-on-message-other: #7c7b7b;
    /* --header-and-footer-background: #f0f0f0; */
    --header-and-footer-background: var(--background);
    --on-header-and-footer-background: #213547;
    --textinput-background: #c9c9c9;
    --chat-content-background-image: url(/chat-background-light.png);
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  background-color: var(--background);
}

.appBrandName::after {
  content: 'WeChat';
  color: var(--primary);
}

.chatListItem {
  border-bottom: 1px solid var(--divider);
}

.chatHeader {
  background-color: var(--header-and-footer-background);
}

.chatInputContainer {
  background-color: var(--header-and-footer-background);
}

.chatInputContainer textarea {
  background-color: var(--textinput-background);
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 14px;
  max-height: 96px;
  line-height: 1.2;
  overflow-y: auto;
  resize: none;
  transition: height 0.2s ease;
}

.chatSubmitButtonContainer {
  background-color: var(--primary);
}

.chatSubmitButton {
  color: whitesmoke;
}

.chatContent {
  background-color: var(--background);
  background-image: var(--chat-content-background-image);
  background-position: top left;
}

.messageContainer.myMessage .messageContent {
  background-color: var(--message-mine);
}

.messageContainer.otherMessage .messageContent {
  background-color: var(--message-other);
}

.chatListItem .timestamp {
  color: var(--timestamp-on-chat-list-item);
  font-size: .8rem;
  align-self: flex-end;
}

.messageContainer.myMessage .messageContent .timestamp {
  color: var(--timestamp-on-message-mine);
}

.messageContainer.otherMessage .messageContent .timestamp {
  color: var(--timestamp-on-message-other);
}
