:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background: #0c1317;
  --background-accent: #202c33;
  --background-accent-secondary: #3d4b54;
  --primary: #005c4b;
  --message-mine: var(--primary);
  --message-other: #202c33;
}

html {
  height: calc(100%);
  overflow: hidden;
  overscroll-behavior: none;
}

a {
  font-weight: 500;
  color: var(--background-accent-secondary);
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover, a.active {
  color: var(--primary);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #cccccc;
    --background: #f1eddc;
    --background-accent: #f0f0f0;
    --background-accent-secondary: #c9c9c9;
    --message-other: #e4e4e4;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  background-color: var(--background);
}

.chatListItem {
  border-bottom: 1px solid var(--background-accent-secondary);
}

.chatHeader {
  background-color: var(--background-accent);
}

.chatInputContainer {
  background-color: var(--background-accent);
}

.chatInputContainer textarea {
  background-color: var(--background-accent-secondary);
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  font-size: 14px;
  max-height: 96px;
  line-height: 1.2;
  overflow-y: auto;
  resize: none;
  transition: height 0.2s ease;
}

.chatSubmitButtonContainer {
  background-color: var(--primary);
}

.chatSubmitButton {
  color: #d5d5d5;
}

.chatContent {
  background-color: var(--background);
  background-image: url(/chat-background.png);
  background-position: top left;
}

.message.myMessage {
  background-color: var(--message-mine);
}

.message.otherMessage {
  background-color: var(--message-other);
}

.message .timestamp,
.chatListItem .timestamp {
  color: var(--background-accent-secondary);
  font-size: .8rem;
  align-self: flex-end;
}
