.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  height: 100%;
}

.container > * {
  overflow: hidden;
}

.appBrandName {
  font-size: medium;
  text-align: left;
  margin: 0;
  font-size: 2rem !important;
  font-weight: 600;
}

.chatList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 50%;
  max-width: 15rem;
  padding: .5rem;
}

.chatList > * {
  padding: .5rem .2rem;
  border-radius: 6px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.chatList > *:hover {
  background-color: #282a2c44;
}

.chatList > .selectedChat {
  background-color: #f8f9fa44;
}

.chatContent {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
  z-index: 10;
}

.chatListItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  height: 2.5rem;
}

.chatName {
  flex: 1;
  text-align: left;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  height: 2.5rem;
  align-items: center;
}

.chatPictureContainer {
  display: inline-block;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  overflow: clip;
  background-color: var(--background-accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatPicture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chatBody {
  display: flex;
  flex-direction: column-reverse;
  gap: .5rem;
  padding: .5rem;
  overflow-y: auto;
  flex: 1;
}

.chatInputContainer {
  display: inline-flex;
  flex-direction: row;
  align-items: flex-end;
  gap: .5rem;
  padding: .5rem .5rem;
}

.chatInputContainer > textarea {
  flex: 1;
}

.chatSubmitButtonContainer {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.messageContent {
  padding: .5rem;
  border-radius: 10px;
  text-align: left;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: stretch;
  gap: .1rem;
}

.shouldAnimate .messageContent {
  animation: panIn .5s ease;
}

.messageImage {
  width: 100%;
  height: 100%;
  max-height: 30vh;
  border-radius: 6px;
  object-fit: cover;
}

.fullScreenImage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  animation: fadeBackground .3s ease;
  background-color: var(--background-traslucent);
}

.fullScreenImage img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  animation: fadeAndZoomIn .4s ease;
}

@keyframes fadeBackground {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }
  100% {
    background-color: var(--background-traslucent);
  }
}

@keyframes fadeAndZoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes panIn {
  0% {
    transform: translate(50%, 80%);
    scale: 0;
    max-height: 0;
  }
  66% {
    transform: translate(-2.5%, -2.5%);
    scale: 1.05;
    max-height: 100px;
  }
  100% {
    transform: translate(0, 0);
    scale: 1;
    max-height: 200px;
  }
}

.messageContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  max-width: 80%;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.messageContainer.myMessage {
  align-self: flex-end;
  justify-content: flex-end;
}

.messageContainer.otherMessage {
  align-self: flex-start;
  justify-content: flex-start;
}

.messageContent {
  flex: 1;
}

.messageContainer.myMessage .messageContent {
  border-bottom-right-radius: 0 !important;
  align-items: flex-end;
}

.messageContainer.otherMessage .messageContent {
  border-bottom-left-radius: 0 !important;
}

.messageContent .messageFooter {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: .2rem;
}

.messageContainer.otherMessage .messageProfileImage {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  align-self: flex-end;
}

.messageContainer .deletedMessage {
  font-style: italic;
  align-items: center;
  gap: .2rem;
  display: flex;
  flex-direction: row;
  filter: brightness(0.8);
}

.chatBody:not([data-chat-is-group="true"]) .messageContainer.otherMessage .messageProfileImage {
  display: none;
}

.chatBody[data-chat-is-group="true"] .messageContainer.otherMessage .messageProfileImage:not([data-profile-image=""]) {
  display: inline-block;
  background-color: #f8f9fa;
  background-image: var(--profile-image);
}

.chatGoBack {
  display: none;
}

@media screen and (max-width: 768px) {
  .container {
    width: fit-content;
  }
  .container > * {
    width: calc(100vw - 1rem);
  }
  .chatGoBack {
    display: inline-block;
  }
  .chatList {
    max-width: unset;
  }
  .chatList > .selectedChat {
    background-color: unset;
  }
  .chatContent {
    transition: all .25s ease-in-out;
    transform: translateX(0);
    width: 100vw;
  }
  .chatContent.chatActive {
    transform: translateX(-100vw);
  }
}
