.container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.container > * {
  overflow: hidden;
}

.chatList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  width: 50%;
  max-width: 15rem;
  padding: .5rem;
  border-right: 1px solid #e9ecef;
}

.chatList > * {
  padding: .5rem .2rem;
  border-radius: 6px;
  cursor: pointer;
}

.chatList > *:hover {
  background-color: #282a2c44;
}

.chatList > .selectedChat {
  background-color: #f8f9fa44;
}

.chatContent {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
  background-color: #6f6f6f;
}

.chatHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
  padding: .5rem;
  border-bottom: 1px solid #e9ecef;
}

.chatBody {
  display: flex;
  flex-direction: column-reverse;
  gap: .5rem;
  padding: .5rem;
  overflow-y: auto;
  flex: 1;
}

.chatInputContainer {
  display: flex;
  flex-direction: row;
  gap: .5rem;
  padding: .5rem;
  border-top: 1px solid #e9ecef;
}
.chatInputContainer > input {
  flex: 1;
}

.message {
  padding: .5rem;
  border-radius: 6px;
  border: #e9ecef 1px solid;
  width: fit-content;
  max-width: 80%;
  text-align: left;
}

.message.myMessage {
  align-self: flex-end;
  background-color: #007bff33;
  color: white;
}

.message.otherMessage {
  align-self: flex-start;
  background-color: #f8f9fa33;
}

.chatGoBack {
  display: none;
}

@media screen and (max-width: 768px) {
  .chatGoBack {
    display: inline-block;
  }
  .chatList {
    width: 100%;
    max-width: unset;
  }
  .chatContent {
    transition: all .3s;
    position: absolute;
    top: env(safe-area-inset-top);
    height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    right: 0;
    left: 0;
    opacity: 0.5;
    transform: translateX(100vw);
  }
  .chatContent.chatActive {
    opacity: 1;
    transform: translateX(0);
  }
}
